<ActionBar class="action-bar">
    <Label text="Select Community" class="action-bar-title"></Label>
</ActionBar>
<GridLayout rows="auto, *">
<SearchBar row="0" hint="Search for a group and press enter"></SearchBar>
    <ListView row="1" class="list-group" [items]="groups">
        <ng-template let-item="item">
            <GridLayout rows="*" columns="auto, *, auto" class="list-group-item">
                <Label class="fa" [text]="'fa-user-plus' | fonticon" row="0" col="0"></Label>
                <Label [text]="item.communityName" class="h3 m-l-10" row="0" col="1"></Label>
                <Label text="&#xf234;" class="fa" color="blue" row="0" col="2"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</GridLayout>