<ActionBar class="action-bar">
    <ActionItem icon="res://ic_arrow_back_white" (tap)="goBack()" ios.position="left"></ActionItem>
    <Label class="action-bar-title" [text]="title"></Label>
    <ActionItem (tap)="edit()" ios.position="right" *ngIf="showEditButton">
        <Button text="&#xf040;" style="font-size: 20;" class="fa action-item"></Button>
    </ActionItem>
</ActionBar>