<ActionBar class="action-bar">
    <NavigationButton icon="res://ic_arrow_back_white_24dp" (tap)="goBack()" text="Back"></NavigationButton>
    <GridLayout rows="*" columns="*, auto" class="text-center">
        <Label [text]="title" class="action-bar-title" row="0" col="0"></Label>
        <Button text="&#xf040;" class="fa action-item" style="font-size: 20" (tap)="edit()" row="0" col="1" *ngIf="showEditButton"></Button>
        <Button text="&#xf0c7;" class="fa action-item" style="font-size: 20" (tap)="save()" row="0" col="1" *ngIf="!showEditButton"></Button>
    </GridLayout>
</ActionBar>