<GridLayout class="page" rows="auto, auto, auto">
    <ScrollView row="0">
        <StackLayout class="p-t-30">
            <PreviousNextView>
                <StackLayout class="form m-t-15" padding="15">
                    <StackLayout horizontalAlignment="center" verticalAlignment="center">
                        <Image src="res://samaj" width="250" height="250"></Image>
                    </StackLayout>
                    <StackLayout class="input-field p-t-15">
                        <TextField keyboardType="email"
                                   hint="Username" [(ngModel)]="userModel.email"
                                   class="input"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                    <StackLayout class="input-field">
                        <TextField secure="true" hint="Password" returnKeyType="done" (returnPress)="onLoginButtonTap()" [(ngModel)]="userModel.password"
                                   class="input"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                </StackLayout>
            </PreviousNextView>
        </StackLayout>
    </ScrollView>
    <StackLayout row="1" orientation="horizontal" class="m-x-auto m-b-30">
        <Button class="btn btn-primary btn-rounded-sm" text="Login"
                (tap)="onLoginButtonTap()"></Button>
        <Button class="btn btn-primary btn-rounded-sm" text="Register" (tap)="onRegisterButtonNavigateTap()"></Button>
    </StackLayout>
    <Label text="Forgot Password?" class="footnote text-center" (tap)="forgotPassword()" row="2"></Label>
</GridLayout>