<ActionBar class="action-bar">
    <Label text="Register To Samaj" class="action-bar-title"></Label>
</ActionBar>
<GridLayout rows="auto, auto, auto" horizontalAlignment="center" verticalAlignment="center">
    <ScrollView row="1">
        <StackLayout class="page p-t-5">
            <PreviousNextView>
                <StackLayout class="form" padding="15">
                    <StackLayout class="input-field">
                        <TextField #title class="input" autocorrect="false" hint="Title"
                                   [(ngModel)]="userModel.title" required></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                    <StackLayout class="input-field">
                        <TextField #firstName class="input" autocorrect="false" hint="First Name"
                                   [(ngModel)]="userModel.firstName" required></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                    <StackLayout class="input-field">
                        <TextField #lastName class="input" autocorrect="false" hint="Last Name"
                                   [(ngModel)]="userModel.lastName" required></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                    <StackLayout class="input-field">
                        <TextField #email class="input" hint="Email" keyboardType="email"
                                   autocorrect="false" [(ngModel)]="userModel.email" required email></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                    <StackLayout class="input-field">
                        <TextField #mobile class="input" minlength="10" hint="Mobile Number" keyboardType="phone"
                                   autocorrect="false" [(ngModel)]="userModel.mobile" required></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                    <StackLayout class="input-field">
                        <TextField #password secure="true" class="input" minlength="6" hint="Password (Min. 6 chars)" autocorrect="false"
                                   [(ngModel)]="userModel.password" required></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                </StackLayout>
            </PreviousNextView>
            <Button class="btn btn-primary btn-rounded-sm"
                    text="Register" (tap)="onRegisterButtonTap()"></Button>
        </StackLayout>
        <!--<StackLayout class="m-x-auto m-t-30 m-b-30">-->
        <!--</StackLayout>-->
    </ScrollView>
    <Label text="Back To Sign In" class="footnote text-center m-t-15" (tap)="onBackTap()" row="2"></Label>
</GridLayout>